<template name="calculationSubmit">
<div class="row">
  <form class="calculation">
    <div class="control-group">
      <label class="control-label" for="title">Title</label>
      <div class="controls">
        <input name="title" type="text" class="span6" value="" placeholder="This calculation's title" />
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="operator">Operator</label>
      <input name="operator[]" type="hidden" />
      <div class="operator droppable">

      </div>
    </div>
  </form>
</div>
</template>
